{{> header }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h2>Acerca de nuestro sitio web</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum totam tempora at consectetur unde culpa, nesciunt velit quasi iusto facere eaque nisi doloremque id? Nostrum repellat blanditiis totam hic laboriosam.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/acmilan.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}
